@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    min-height: 100vh;
    font-family: Roboto, "Times New Roman", sans-serif;
    margin: 0;

    display: flex;
    flex-direction: column;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

p,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header,
.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    padding: 20px 300px 75px;
    gap: 50px;
    flex: 1;
}

.logo {
    max-width: 200px;
}

.right-links{
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.right-links a:hover{
    color: #a0a2a5;
}

.hero-left,
.hero-image {
    display: flex;
    flex-direction: column;
}

.corvette {
    max-width: 500px;

    border: 5px solid #f9faf8;
    border-radius: 10px;
}

.heroMain {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.heroSecondary {
    font-size: 18px;
    color: #e5E7Eb;
    margin-bottom: auto;
}

.Signup {
    width: fit-content;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 10px 40px;
    border-radius: 10px;
    border: 0px;
}

.Signup:hover {
    background-color: #275bac;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 75px;
    gap: 30px;
    flex: 1;
}

.infoHeader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 75px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: darkslategrey;
    text-align: center;
    width: 170px;
}

.icons {
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 20px;
    padding: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    background-color: #e5E7Eb;
    color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 100px 500px;
}

.quote p {
    font-style: italic;
    font-weight: 300;

}

.author {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 500px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 40px 75px;
    border-radius: 10px;
    gap: 100px;
}

.call-left div{
    font-size: 20px;
}

.call .Signup{
    flex-shrink: 0;
    border: 2px solid #f9faf8;
}

footer {
    display: flex;
    background: #1F2937;
    color: #f9faf8;
    justify-content: center;
    padding: 30px 0;
}